.btn {
    padding: 0.5rem;
    background-color: lightcoral;
    color: white;
    border: none;
    border-radius: 1rem;
    margin: 0 auto;
    width: 12%;
    margin-left: 1rem;
}
.btn:hover {
   background-color: lightpink;
   cursor: pointer;
}
.input {
    padding: 0.5rem;
    border-radius: 1rem;
}

.main {
    text-align: center;
    margin-top: 3rem;
    border-bottom: 3px solid black;
    padding-bottom: 2rem;
}